{
    "require": [
        "@babel/register",
        "source-map-support/register"
    ],
    "all": true,
    "cache": false,
    "check-coverage": true,
    "extension": [
        ".js", "jsx"
    ],
    "exclude": [
        "src/spec/**",
        "node_modules/**",
        "coverage/**"
    ],
    "reporter": [
        "text",
        "text-summary",
        "lcov"
    ],
    "temp-dir": "./coverage/.nyc_output",
    "watermarks": {
        "statements": [50, 95],
        "branches": [52,  95],
        "functions": [50, 95],
        "lines": [50, 95]
    },
    "statements": 50,
    "branches": 42,
    "functions": 50,
    "lines": 50
}
